<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<link rel="stylesheet" href="/w07.css">
</head>
<body class="container">
 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" style="float:right" href="#"> Tilak Dhulipalla</a>
       
  </div>

<div class="navbar-header" style="float:right">


<ul class="nav navbar-nav">
  <li ><a href="http://127.0.0.1:8081/index.html">Home</a></li>
  <li><a href="http://127.0.0.1:8081/mychoice.html">Service</a></li>
  <li><a href="http://127.0.0.1:8081/contact.html">Contact</a></li>
  <li ><a href="http://127.0.0.1:8081/aboutme.html">About Me</a></li>
<li class="active"><a href="http://127.0.0.1:8081/views/guestbook.ejs">GuestBook</a></li>

</ul>
</div>
</nav>
<br>
<br>
<br>
<h1>
Express Guestbook
<a href="http://127.0.0.1:8081/views/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>
