
#mainBody{
    background: url(../download.jpg);
    
    background-size: cover;
    
    border-radius: 6px; 
    color: #fff;    
}
h2{
    padding-left: 3%;
}
.main{
 
 background-size: cover;
   
}
#footer{
    background-color: black;
   
}
footer{
    padding-top: 3%;
}
.jumbotron{
    background: none;
}

footer p{
    background-color: black;
}