<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
  <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/tilak.css">


</head>

<body>
  <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" style="float:right" href="#"> Tilak Dhulipalla</a>
        <img src="IMG_5571.jpg" class="img-circle" alt="profile photo" style="width:42px;height:50px;"> </img>
  </div>

<div class="navbar-header" style="float:right">


<ul class="nav navbar-nav">
 <li><a href="index">Home</a></li>
  <li><a href="mychoice">Service</a></li>
   <li class="active"><a href="contact">Contact</a></li>
<li><a href="aboutme">About Me</a></li>

</ul>
</div>
</nav>


<!-- Main jumbotron for a primary marketing message or call to action -->
</div>

<form >
    
 <div class = "container">
     
  <div class="col-md-6">
      
      <h2>Send Message to Contact Me</h2>  
      
  <div class = "container">
<div class="col-md-6">
    <div class = "col-md-4 inputGroupContainer">
    <label for="name" style="float:left">Name:</label>

    <input type="text"  id="name" name="user_name">
  </div></div>
</div>
  <div>
     <div class = "container">
<div class="col-md-6">
    <div class = "col-md-4 inputGroupContainer">
    <label for="mail" style="float:left">E-mail:</label>

    <input type="email" id="mail" name="user_email">
  </div>
</div></div>
  <div>
     <div class = "container">
<div class="col-md-6">
    <div class = "col-md-4 inputGroupContainer">
    <label for="msg" style="float:left">Message:</label>

    <textarea id="msg" name="user_message"></textarea>
  </div>
</div>
</div>
 
  <div class="button">
     <div class = "container">
<div class="col-md-6">
    <button type="submit">Send your message</button>
  </div>
</div>
</form>
</div>
</div>


      
      
    
    <!-- /container -->
    </div>
    <footer>
      <br><br><br>  <h4>Find Me On:</h4>
    <a href="https://github.com/TilakDhulipalla">    
        <img src="github.png"style="width:100px;height:100px;">&nbsp&nbsp
      </a>
      <a href="https://bitbucket.org/Tilak_Dhulipalla/">    
        <img src="Bitbucket.jpg"style="width:100px;height:100px;">&nbsp&nbsp
      </a>
      <a href="https://in.linkedin.com/in/tilak-dhulipalla-9899a481">    
        <img src="linkedin.png"style="width:40px;height:40px;">&nbsp&nbsp
      </a>
      <a href="https://www.facebook.com/dhulipalla.tilak">    
        <img src="fb.png"style="width:40px;height:40px;">
      </a>
      
        </footer>
   
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="js/vendor/bootstrap.min.js"></script>

<script src="js/main.js"></script>

</body>

</html>
  

