<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
  <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/tilak.css">


</head>

<body>
  <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" style="float:right" href="#"> Tilak Dhulipalla</a>
        <img src="IMG_5571.jpg" class="img-circle" alt="profile photo" style="width:42px;height:50px;"> </img>
  </div>

<div class="navbar-header" style="float:right">


<ul class="nav navbar-nav">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="mychoice">Service</a></li>
  <li><a href="contact">Contact</a></li>
  <li><a href="aboutme">About Me</a></li>
 <li><a href="guestbook">GuestBook</a></li>

</ul>
</div>
</nav>
</div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
</div>
<div id="mainBody">
  <div class="jumbotron">
    <div class="container">
      <div class="col-md-6">
        <h2>Welcome!! </h2>
       
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
     <iframe width=500 height=500 src="https://www.youtube.com/embed/2OcbJkQY-SA" ></iframe>
          
        </div>
        <div class="col-md-6">
          <h3>About Me</h3>
<p>I was born in Guntur and later moved to Hyderabad,India.
<br> I had done my bachelor's in computer science at GITAM University 
and at present I am pursuing masters in Applied computer science 
at Northwest missouri state University</p><hr>

<h3>Plans</h3>
<p> I am planning to get job as a software developer and reach great 
heights of success.
<p><hr>
<h3>Interests</h3>
<p>I spend most of my time playing:
 <ul>
 <li>badminton</li>
 <li>cricket</li>
 <li>video games</li></ul></p>
        </div>
        <hr>
    </div>
    <!-- /container -->
    </div>
    <footer >
       <center> <p>&copy; Northwest Missouri State University</p></center>
      </footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="js/vendor/bootstrap.min.js"></script>

<script src="js/main.js"></script>

</body>

</html>