<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
  <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/tilak.css">


</head>

<body>
  <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        <a class="navbar-brand" style="float:right" href="#"> Tilak Dhulipalla</a>
        <img src="IMG_5571.jpg" class="img-circle" alt="profile photo" style="width:42px;height:50px;"> </img>
  </div>

<div class="navbar-header" style="float:right">


<ul class="nav navbar-nav">
 <li><a href="index">Home</a></li>
  <li class="active"><a href="mychoice">Service</a></li>
   <li><a href="contact">Contact</a></li>
<li><a href="aboutme">About Me</a></li>

</ul>
</div>
</nav>

</div>

<div class="container">
<form  id="submit" method="POST">
  <h2>Car Rentals</h2>
  <br>
   First Name:<br>
  <input type="text" id="first" name="firstname" >
  <br>
  Last Name:<br>
  <input type="text" id="last" name="lastname" >
  <br>
  Phone number:<br>
  <input type="text" id="phone" name="phonenumber" >
  <br>
  Driver License Number:<br>
  <input type="text" id="license" name="license" >
  <br><br>
  Select car:
  <select id="choose">
  <option value="select">  select...</option>
  <option value="mustang">Mustang</option>
  <option value="charger">Charger</option>
  <option value="camaro">Camaro</option>
  <option value="civic">Civic</option>
</select>
<br><br>
Number of days:<br>
  <input type="text" id="noofdays" name="days" >
  <br><br>
  
  <input type="submit" value="Submit" onClick="result()">

  <span id="final"></span><br><br>
  
</form> 
</div>

